/*폰트*/
@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");

/*리셋*/
* {
    position: relative;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

li {
    list-style: none;
}

/*css 변수*/
:root {
    --color00 : #000;
    --colorf0 : #f00;
    --color33 : #333333;
    --color66 : #666666;
    --color99 : #999999;
    --coloree : #eeeeee;
    --colordd : #dddddd;
    --colorf2 : #f2f2f2;
    --colorff : #ffffff;
    --fontsize80 : 80px;
    --fontsize40 : 40px;
    --fontsize24 : 24px;
    --fontsize22 : 22px;
    --fontsize18 : 18px;
    --fontsize16 : 16px;
    --fontsize14 : 14px;
    --gap20 : 20px;
    --gap100 : 100px;
}


/*폰트*/
body {
    font-family: 'SUIT Variable', san-serif;
}

h1 {
    font-size: var(--fontsize80);
}

h2 {
    font-size: var(--fontsize40);
}

h3 {
    font-size: var(--fontsize22);
}

h4 {
    font-size: var(--fontsize18);
}

h5 {
    font-size: var(--fontsize16);
}

h6 {
    font-size: var(--fontsize14);
}

p {
    font-size: var(--fontsize14);
    line-height: 22px;
}

li {
    font-size: 14px;
}

/*공통스타일 : 버튼, 인풋박스, 해더, 푸터*/
.section_title {
    width: 90%;
    max-width: 1700px;
    margin: 0 auto 40px;
}

.container {
    width: 90%;
    max-width: 1700px;
    margin: 0 auto;
}

body {
    overflow-x: hidden;
}

.container img {
    pointer-events:  none;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
    display: none;
}

.m_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #fff;
    z-index: 101;
    display: block;
}

.m_menu .m_login {
    padding: 20px;
    border-bottom: 10px solid #eeeeee;
}

.m_menu .m_login .text {
    margin-bottom: 10px;
    color: #333333;
}

.m_menu .m_login a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-transform: uppercase;
}

.m_menu .m_login a span {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

.m_menu .m_login a span::before {
    content: '';
    width: 5px;
    height: 5px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%,-50%) rotate(45deg);
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

.m_menu .list li {
    border-bottom: 1px solid #eeeeee;
}

.m_menu .list li a {
    font-size: 16px;
    display: block;
    text-transform: uppercase;
    padding: 20px;
}

/*m_menu 초기값*/
.m_menu {
    transform: translateX(-100%);
    transition: transform 0.4s ease;
}


/*header*/
header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgba(255,255,255,0.1);
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
    color: #fff;
}


header .left {
    display: flex;
    align-items: center;
}

header .left .logo {
    display: flex;
    align-items: center;
    height: 50px;
    position: relative;
    width: 50px;
    z-index: 10;
}

header .left .logo a {
    position: absolute;
}

header .left .logo img {
    height: 100%;
    width: 100%;
    display: block;
}

header .left .logo .black {
    opacity: 0;
}

header .left .menu {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 150px;
    text-transform: uppercase;
}

header .left .menu .menu_list:hover {
    border-bottom: 1px solid #fff;
}

header .left .ham {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    display: none;
    cursor: pointer;
}

header .left .ham .bar {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
}

header .left .ham .bar1 {
    transform: translate(0, 10px);
}

header .left .ham .bar3 {
    transform: translate(0, -10px);
}

header .left .sns {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    opacity: 0;
}

header .right {
    display: flex;
    align-items: center;
}

header .right .search {
    position: absolute;
    right: 200px;
    display: flex;
    border: 1px solid rgba(255,255,255,0.4);
    padding: 10px 20px;
    border-radius: 20px;
}

header .right .search input {
    background-color: inherit;
    border: none;
    outline: none;
    color: #fff;
}

header .right .search input::placeholder {
    color: rgba(255,255,255,0.7);
}

header .right .sns {
    display: flex;
    align-items: center;
    gap: 20px;
}

/*마우스 내릴때*/
header.down {
    background-color: #fff;
    color: #333333;
    border-bottom: 1px solid #c7c7c7;
}

header.down .logo .black {
    opacity: 1;
}

header.down .logo .white {
    opacity: 0;
}

header.down .search {
    border: 1px solid rgba(0,0,0,0.4);
}

header.down .search input {
    color: #000;
}

header.down .search input::placeholder {
    color: rgba(0,0,0,0.4);
}

header.down .ham .bar {
    background-color: #000;
}

header.down .left .menu .menu_list:hover {
    border-bottom: 1px solid #000;
    top: 1px;
}

/*header sub */
header .sub {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 380px;
    background-color: white;
    box-shadow: 0 80px 100px -100px rgba(0,0,0,0.3);
    display: none;
}

header .sub h4 {
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    font-size: 22px;
    color:#999999;
    margin-bottom: 20px;
}

header .sub li {
    line-height: 30px;
    font-size: 14px;
    color:#666666;
}

header .sub .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

header .sub .sub_left {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 50px;
    padding: 20px 10px;
    box-sizing: border-box;
}

header .sub .sub_left .sub_ul .sub_li {
    width: 100%;
}

header .sub .sub_left .sub_ul .sub_li a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    width: 5px;
    height: 5px;
    transform: translateY(-50%) rotate(45deg);
    border-top: 1px solid #100f21;
    border-right: 1px solid #100f21;
}

header .sub .sub_right {
    width: calc(100% - 300px);
    display: flex;
    margin-top: 40px;
    align-items: flex-start;
}

header .sub .sub_right .right_img {
    margin-left: auto;
}

header .sub .sub_right .right_menu {
    width: 70%;
    display: flex;
    gap: 120px;
}

header .sub .sub_right .right_menu .sub_li {
    box-sizing: border-box;
}

header .sub .sub_right .right_menu .sub_li:first-child {
    font-weight: 700;
    color: #000;
}

header .sub .sub_right .right_menu .sub_li a {
    line-height: 1;
}

header .sub .sub_right .right_menu .sub_li:not(:first-child) a:hover {
    border-bottom: 1px solid #000;
}

header .sub .sub_right .right_img {
    border-left: 1px solid #e1e1e1;
    margin-bottom: 40px;
}

header .sub .sub_right img {
    width: auto;
    height: 250px;
    padding-left: 80px;
}

header .sub .sub_right .right_img a {
    margin-left: 80px;
    margin-top: 10px;
}

header .sub .sub_right .right_img .link {
    color: #000;
}

@media (max-width : 1000px) {
    header {
        display: block;
    }

    header .left .menu, header .right .search {
        display: none;
    }

    header .left {
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    header .right .sns {
        display: none;
    }

    header .left .ham {
        display: block;
    }

    header .left .sns {
        opacity: 1;
    }

}

/*footer*/

footer {
    border-top: 0.5px solid #c7c7c7;
}

footer .footer1 {
    width: 90%;
    max-width: 1700px;
    margin: 0 auto;
}

footer .footer1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0;
}

footer .footer1 .item1 li:first-child, footer .footer1 .item2 li:first-child {
    font-weight: 800;
}

footer .footer1 .item1 li {
    margin-bottom: 10px;
}

footer .footer1 .item2 li {
    margin-bottom: 30px;
}

footer .footer1 .item2 .br {
    display: none;
}

footer .footer1 .item3 li {
    margin-bottom: 30px;
    font-weight: 700;
}

footer .footer1 .item3 {
    display: flex;
    gap: 30px;
}

footer .footer1 .item3 .right i {
    padding: 0 10px;
}

footer .footer2 {
    border-top: 0.3px solid #c7c7c7;
    padding: 10px 0;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer2 ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer .footer2 li::after {
    content: '';
    display: block;
    width: 1px;
    height: 14px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
}

footer .footer2 li:first-child:after {
    display: none;
}

footer .footer2 li:nth-child(3) {
    font-weight: 700;
}

@media (max-width : 1000px) {
    footer .footer1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer .footer1 .item1, footer .footer1 .item2 {
        margin-bottom: 40px;
    }

    footer .footer1 .item li {
        line-height: 24px;
    }

    footer .footer1 .item2 .br {
        display: block;
    }

    footer .footer1 .item2 li {
        margin-bottom: 10px;
    }

    footer .footer1 .item3 {
        flex-direction: column;
        gap: 40px;
    }

    footer .footer1 .item3 .left {
        order: 1;
    }

    footer .footer1 .item3 .right {
        order: 0;
    }

}